@mixin inline-block(){
     display: inline-block;*display: inline; *zoom: 1; vertical-align: middle;
}

@mixin boxcenter($a:1000px){
    width:$a;
    margin-left: auto;
    margin-right: auto;
}

@mixin box-sizing($a:border-box){
         box-sizing: $a;
    -moz-box-sizing: $a;
 -webkit-box-sizing: $a;
}
@mixin border-radius($w:6px){
         border-radius: $w;
    -moz-border-radius: $w;
 -webkit-border-radius: $w;
}

@mixin opacity($opacity:50) {//透明
        opacity: $opacity / 100;
-webkit-opacity:  $opacity / 100;
   -moz-opacity:  $opacity / 100 ;
        filter: alpha(opacity=$opacity);
}

@mixin max-screen($res){
  @media all and ( max-width: $res )
  {
    @content;
  }
}

@mixin maxmin-screen($min,$max){
  @media all and ( min-width: $min ) and ( max-width: $max )
  {
    @content;
  }
}

@mixin animation-all($a) {//动画
        animation: $a;
-webkit-animation: $a;
 -moz-animation: $a;
  -ms-animation: $a;
}

@mixin keyframes ($a){
    @-webkit-keyframes #{$a}{
        @content;
    }
    @-moz-keyframes #{$a}{
        @content;
    }
    @-o-keyframes #{$a}{
        @content;
    }
    @keyframes #{$a}{
        @content;
    }
}

@mixin animation($active,$time,$infinite:infinite,$delay:0,$linear:linear,$alternate:alternate) {//动画
        animation: $active $time $infinite $delay $linear $alternate;
-webkit-animation: $active $time $infinite $delay $linear $alternate ;
 -moz-animation: $active $time $infinite $delay $linear $alternate ;
  -ms-animation: $active $time $infinite $delay $linear $alternate ;
}

@mixin animation-argument($arg:delay,$a:1.5s) {//延迟
            animation-#{$arg}:$a;
    -webkit-animation-#{$arg}:$a;
       -moz-animation-#{$arg}:$a;
        -ms-animation-#{$arg}:$a;
}

@mixin transform-all($a) {//变形
            transform:$a;
       -webkit-transform:$a;
       -moz-transform:$a;
       -ms-transform:$a;
}

// 基本颜色
$color1:                 #fb534a !default;
$color2:                 #59abff !default;
$color3:                 #00BC8C !default;
$color4:                 #FF8033 !default;
$color5:                 #999 !default;
$color6:                 #ccc !default;
$color7:                 #eee !default;
$color8:                 #f2f2f2;
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-size:12px;
    line-height: 1.6;
    color: #333;
    font-family: "Microsoft Yahei", Tahoma, "SimSun", "Helvetica Neue", Helvetica;
    background-color: #fff;
}

body,ul,ol,li,dl,dd,h1,h2,h3,h4,h5,h6,p,figure,form,button,input,select,textarea {
    margin: 0;
}

ul,
ol,
li,
dl,
dd {
    padding: 0;
    list-style: none outside none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    max-width: 100%;
    border: none;
    vertical-align: middle;
}

h1,
h2,
h3,
h4,
p,
h5,
h6 {
    font-size: 100%;
    line-height: 2;
    font-weight: normal;
}

i {
    font-style: normal;
}

a {
    text-decoration: none;
    color: #333;
    &:hover{
        color:inherit;
    }
}

a::-moz-focus-inner {
    border: 0;
    padding: 0;
}

label,
button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.6;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}

button::-moz-focus-inner,
input::-moz-focus-inner,
select::-moz-focus-inner,
textarea::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    resize: vertical;
    vertical-align: top;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    *overflow: visible;
}

button[disabled],
input[disabled] {
    cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
    padding: 0;
    *height: 13px;
    *width: 13px;
}


/****common****/

.fl {
    float: left;
    _display: inline;
}

.fr {
    float: right;
    _display: inline;
}

.clearfix{
    *zoom: 1;
}

.clearfix:before{
    content: "\20";
    display: table;
}

.clearfix:after {
    content: "\20";
    display: table;
    clear: both;
    overflow: hidden;
}

.clear {
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
    visibility: hidden;
    overflow: hidden;
}

.tct {
    text-align: center;
}

.trt {
    text-align: right;
}

.tlt {
    text-align: left;
}

.color1 {
    color: #59abff;
}

.color2 {
    color: #f08200;
}

.color3 {
    color: #ff5a5d;
}


body{ background:$color8;}
.wrapper{
    @include boxcenter(100%);
    @include box-sizing;
}

.main{
    width: 100%;
    height: 100%;
}

.header{
	position: relative;
    padding:0.5rem 0;
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.2;
    color: #fff;
    background:$color2;
    img{
        height: 2.56rem;
    }
    .header_lf{
    	position: absolute;
    	left:0;
    	top:50%;
    	margin-top:-0.6rem;
    	font-size:1rem;
    	line-height:1.2rem;
    	padding: 0 0.75rem;
    	text-align: center;
    	color:  $color4;
    }
    .header_rt{
    	position: absolute;
    	right:0;
    	top:50%;
    	margin-top:-0.6rem;
    	font-size:0.875rem;
    	line-height:1.2rem;
    	padding: 0 0.75rem;
    	text-align: center;
    	color:  $color4;
    }
}


.btn-wrap{
	margin: 20px 0;
}
.btn{
	@include inline-block();
	width:100%;
	min-width: 6rem;
	max-width:30rem;

	font-size: 1rem;
	line-height: 2;
	color: #fff;
	text-align: center;

	padding:0.25rem 0.5rem;
	border: 1px solid #59abff;
	background: #59abff;
	&:hover{
		color: #59abff;
		background:transparent;
	}
}


.formbox{
    background: #fff;
    padding: 1rem 1.25rem;
    .tip{
        font-size: 0.75rem;
        color: $color6;
        .icon_warning{
            width: 1rem;
            height:1rem;
        }
    }
}
.box_input{
    font-size: 0.875rem;
    padding:0.5rem 0;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid $color7;
    background: #fff;
    position: relative;
    span{@include inline-block(); width:28%;}

    .textbox{
        @include inline-block();
        font-size: 0.875rem;
        line-height: 1.25rem;
        min-height: 1.25rem;
        border:none; width:66%;
        &:focus{outline: none;}
        &.textbox01{
            width:35%;
        }
        &.style01{
            font-size: 0.75rem;
        }
        &.style02{
            text-align: right;
        }
        &.default{
            color: #999;
        }
        &.input{
            color: #4c4c4c;
        }

    }

    .right_arrow{
        position: absolute;
        font-size: 0.75rem;
        line-height: 1rem;
        top: 50%;
        right: 0;
        margin-top: -0.45rem;
    }
    &.box_input01{
        border-bottom: 1px dotted $color6;
    }
    &.noborder{
        border: none;
    }
    &.tip{
        .tip_i{
           @include inline-block();
           vertical-align: middle;
           font-size:0.75rem;
           line-height: 0.875rem;
           width: 0.875rem;
           height: 0.875rem;
           text-align: center;
            border: 1px solid $color6;
            @include border-radius(50%);
        }
        padding: 0;
        font-size:0.75rem;
        color:$color6;
    }
}

.box_forget{
    text-align: right;
    a{
        @include inline-block();
        padding: 0.5rem;
        color: $color2;
    }
}

.btnbox{
    padding:2rem 0 1rem;
     &.btnbox01{
        padding:2rem 1.25rem 1rem;
    }
    &.btnbox02{
        padding:0 1.25rem;
        margin:1.5rem 0;
    }
}
.btnbox_fix{
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 999;

}

.btn_login{
    @include inline-block();
    width: 100%;
    text-align: center;
    font-size: 1rem;
    line-height: 2.5rem;
    color: #fff;
    background:$color2;
    background-size:cover;

}

.btn_01{
    width:100%;
    @include inline-block();
    font-size: 1.125rem;
    line-height:2.5;
    padding: 0 5px;
    margin: 0;
    color: #fff;
    text-align:center;
    background: $color4;
    border: none;
    &.style01{
       //background: $color2;
       font-size:1rem;
    }
    &.style02{
        line-height: 2.2;
        background: $color2;
    }
    &.style03{
        font-size:0.875rem;
        line-height:2;
    }

}