---
layout: default
---
<div class="post-list">
	{% for post in site.posts %}
	 <article class="article">
	 		<div class="article-meta">
	 				<a class="article-time" href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}</a>
	 		</div>
	 		<div class="article-inner">
	 				<h2 class="article-tit"><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
	 				<div class="article-con">{{post.excerpt}}</div>
	 		</div>
	 		<div class="article-intro clearfix">
	 			{% for category in post.category %}
	 			 <div class="article-tag">
	 			 		<ul>
	 			 			<li><a href="/category/{{ category }}"> {{ category }}</a></li>
	 			 		</ul>
	 			 </div>
	 			 {% endfor %}
	 			 <a class="article-more-link" href="{{ post.url | prepend: site.baseurl }}">more</a>
	 		</div>
	 </article>
	 {% endfor %}
</div>
