@import "scss/base"; 

@mixin boxcenter($a:1000px){
    width:$a;
    margin-left: auto;
    margin-right: auto;
}

@mixin box-sizing($a:border-box){
    -moz-box-sizing: $a;
 -webkit-box-sizing: $a;
         box-sizing: $a;    
}

@mixin opacity($opacity:50) {//透明
    opacity: $opacity / 100;
    filter: alpha(opacity=$opacity);
}

@mixin max-screen($res){
  @media only screen and ( max-width: $res )
  {
    @content;
  }
}

.btn{
    @include box-sizing; 
}

.wrapper{
    @include boxcenter(980px);
}

@include max-screen(640px){
   .wrapper{ width: auto; max-width: 640px;}
}


.header{
    min-height: 20px; padding: 5px 10px; text-align: center; color: #fff; background: #2EA7E0; position: relative;
}   
.header .hdleft,.header .hdight{position: absolute; left: 10px; top:50%;font-size: 1.5em; line-height: 2em; margin-top: -1em;}
.header .hdight{ left: auto; right: 10px;}      
.header .hdleft a,.header .hdight a{ color: #fff;}