@import "scss/base"; 


@mixin box-sizing($a:border-box){
    -moz-box-sizing: $a;
 -webkit-box-sizing: $a;
         box-sizing: $a;    
}

@mixin opacity($opacity:50) {//透明
    opacity: $opacity / 100;
    filter: alpha(opacity=$opacity);
}

@mixin max-screen($res){
  @media only screen and ( max-width: $res )
  {
    @content;
  }
}

