<aside class="sidebar">
	<div class="bg-overlay"></div>
	<header class="header">
		<div class="logo">
			{% if site.imglogo.enable && site.imglogo.src %}
				<a class="logo-img" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/{{ site.imglogo.src }}" alt="{{ site.title }}" title="{{ site.title }}"/></a>
			{% endif %}
			<hgroup>
				<h1 class="logo-tit"><a href="{{ site.baseurl }}/" title="{{ site.title }}">{{ site.title }}</a></h1>
				<h2 class="logo-intro">{{ site.description }}</h2>
			</hgroup>
		</div>
		<nav class="nav">
			<ul>
				<li><a href="{{ site.baseurl }}/">主页</a></li>
				{% for my_page in site.pages %}
		          {% if my_page.title %}
		          <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
		          {% endif %}
		        {% endfor %}
			</ul>
		</nav>
	</header>
</aside>



