@import "scss/base"; 

@mixin boxcenter($a:1000px){
    width:$a;
    margin-left: auto;
    margin-right: auto;
}

@mixin box-sizing($a:border-box){
    -moz-box-sizing: $a;
 -webkit-box-sizing: $a;
         box-sizing: $a;    
}
@mixin border-radius($w:6px){
    -moz-border-radius: $w;
 -webkit-border-radius: $w;
         border-radius: $w;  
}

@mixin round-radius($w:100px){
    width: $w; height: $w;
    @include border-radius(50%);
}

@mixin opacity($opacity:50) {//透明        
-webkit-opacity:  $opacity / 100;
   -moz-opacity:  $opacity / 100 ;
        opacity: $opacity / 100;
        filter: alpha(opacity=$opacity);
}

@mixin max-screen($res){
  @media only screen and ( max-width: $res )
  {
    @content;
  }
}

@mixin maxmin-screen($min,$max){
  @media only screen and ( min-width: $min ) and ( max-width: $max )
  {
    @content;
  }
}


@mixin animation($active,$time,$infinite:infinite,$delay:0,$linear:linear,$alternate:alternate) {//透明
        animation: $active $time $infinite $delay $linear $alternate;
-webkit-animation: $active $time $infinite $delay $linear $alternate ;
 -moz-animation: $active $time $infinite $delay $linear $alternate ;
  -ms-animation: $active $time $infinite $delay $linear $alternate ;
}


body{background: url(../img/zhu_bg01.jpg) repeat;}
.wrapper{
    @include boxcenter(100%);
    max-width: 960px;
    background: url(../img/zhu_bg02.png) no-repeat center bottom;
    background-size: 100%;
    @include box-sizing;
}

.header{display: block; padding: 38px 8.3% 48px;}
.header .logo{width:30%}

.intro{padding: 0  8.3%; padding-bottom:400px;}
.intro p{font-size:3em; line-height:1.5; color: #fff; padding-top:0.5em;}

.zhubox{width: 288px; height: 208px; position: fixed; bottom:10px; left: 50%; margin-left: -144px; text-align: center;background: #3f3f3f url(../img/zhu_box01.png) no-repeat center center;
      animation:show01 1s 2s both linear;
-webkit-animation:show01 1s 2s both linear;
   -moz-animation:show01 1s 2s both linear;
    -ms-animation:show01 1s 2s both linear;
}
.zhubox p{font-size: 2em; color: #fff; padding:25px 0 30px;}
.zhubox .btn-zhu{display:inline-block; width: 50%; font-size: 2em; line-height: 2; text-align: center; border-radius: 6px; color: #fff; background: #de3232;}
.zhubox .btn-zhu span{display: inline-block;}

.animation{padding: 0  8.3%; height:785px;position: relative;}

.round{  
    position: absolute; 
    text-align: center;
    font-size: 3em;
    line-height:1.6;
    color: #3f3f3f;
   // @include opacity(0); 
     animation:fade 3s both linear;
-webkit-animation:fade 3s both linear;
   -moz-animation:fade 3s both linear;
    -ms-animation:fade 3s both linear;
}

.round:after{ 
    display: inline-block; 
    content: "\20"; 
    width:0px; height: 100%; 
    vertical-align: middle;
}
.round .cont{
    display: inline-block;    
    vertical-align: middle;
}

.round .cont i{
    font-style: normal;
    font-size: 2.5em;
}
.round01{
    top:50%; right:50%;
    margin: -300px -48px 0 0;
    @include round-radius(320px);    
    background: #f8c039;
   // @include animation(donghua1,5s,1,linear,2s,alternate);       
            animation-delay:1s;
    -webkit-animation-delay: 1s;
       -moz-animation-delay: 1s;
        -ms-animation-delay: 1s;
}
.round01 .cont:before{
    content: "\20";
    position: absolute; top: 50%; left: 50%;
    margin-left: -187px; margin-top: -187px;
    @include round-radius(374px); 
    background: #f8c039;  
    @include opacity(15);  
}
.round01 .cont:after{
    content: "\20";
    position: absolute; top: 50%; left: 50%;
    margin-left: -220px; margin-top: -220px;
    @include round-radius(440px); 
    background: #f8c039;  
    @include opacity(10);  
}

.round02{
    top:50%; right:50%;
    margin:-170px -492px 0 0;
    @include round-radius(492px);    
    background:url(../img/zhu_01.png) no-repeat center center;
    background-size: 100% 100%;
    color: #fff;
    //@include animation(donghua1,5s,1,linear,5s,alternate); 
            animation-delay: 3s;
    -webkit-animation-delay: 3s;
       -moz-animation-delay: 3s;
        -ms-animation-delay: 3s;
}

.round03{
    top:50%; right:50%;
    margin:-170px -126px 0 0;
    @include round-radius(440px);    
    background:#f8c039;
    color: #fff;
    //@include animation(donghua1,5s,1,linear,9s,alternate); 
    box-shadow:0px 0px 80px #f8c039;
            animation-delay: 5s;
    -webkit-animation-delay: 5s;
       -moz-animation-delay: 5s;
        -ms-animation-delay: 5s;
}

.round04{
    top:50%; right:50%;
    width:700px; height:620px;
    margin: -310px -350px 0 0;
   // @include animation(donghua2,3s,1,linear,15s,alternate); 
            animation-duration:8s;
    -webkit-animation-duration:8s;
       -moz-animation-duration:8s;
        -ms-animation-duration:8s;
            animation-delay: 8s;
    -webkit-animation-delay: 8s;
       -moz-animation-delay: 8s;
        -ms-animation-delay: 8s;          
}

.round04 .inner:after{  display: inline-block;  content: "\20";   width:0px; height: 100%;  vertical-align: middle;}
.round04 .inner .cont{  width: 99%;    display: inline-block;    vertical-align: middle;   line-height: 1.2;}
.round04 .inner .cont i{   font-size: 1em;}
.round04 .inner i.d-dabai{   font-size:5.5em;}

.round04 .r01{position:absolute; top: 0px; left:98px; @include round-radius(172px); background: #adf04c;}
.round04 .r02{position:absolute; top: 70px; left:50%; margin-left: -36px; @include  round-radius(132px); background: #fff668;}
.round04 .r03{position:absolute; top: 25px; left:50%; margin-left: 130px; @include round-radius(110px); background: #ff7bf7;}
.round04 .r04{position:absolute; top: 204px; left:0; @include round-radius(220px); background: #ff7d6d;}
.round04 .r05{position:absolute; top: 160px; left:50%; margin-left: 178px; @include round-radius(210px); background: #92e6ff;}
.round04 .r06{position:absolute; bottom: 0px; left:50%; margin-left:-162px; @include round-radius(390px); background: #ff7827; color: #fff;}

.item{  
    position: absolute;  
     animation:fade 3s both linear;
-webkit-animation:fade 3s both linear;
   -moz-animation:fade 3s both linear;
    -ms-animation:fade 3s both linear;
}
.item01{top: 50%; left: 50%; margin-left: -60px; margin-top:-305px;
             animation-delay:16s;
    -webkit-animation-delay: 16s;
       -moz-animation-delay: 16s;
        -ms-animation-delay: 16s;
}
.item02{top: 50%; left: 50%; margin-left: -400px; margin-top:-175px;
             animation-delay:19s;
    -webkit-animation-delay: 19s;
       -moz-animation-delay: 19s;
        -ms-animation-delay: 19s;
}
.item03{top: 50%; left: 50%; margin-left: -230px; margin-top:-170px;
             animation-delay:22s;
    -webkit-animation-delay: 22s;
       -moz-animation-delay: 22s;
        -ms-animation-delay: 22s;
}
.item04{ top: 50%; right: 50%; margin-right: -355px; margin-top:-300px;
             animation-delay:25s;
    -webkit-animation-delay: 25s;
       -moz-animation-delay: 25s;
        -ms-animation-delay: 25s;
}
.item05{top: 50%; left: 50%; margin-left: -170px; margin-top:-190px;
             animation-delay:28s;
    -webkit-animation-delay: 28s;
       -moz-animation-delay: 28s;
        -ms-animation-delay: 28s;
}


.item .cont{
    position: relative;
    display: inline-block;
    font-size: 3em;
    line-height:70px;
    height: 70px;
    padding-right: 30px;
    color: #fff;
    white-space: nowrap;
    background: #f8c039;
    @include border-radius(6px);
    margin-bottom: 30px;
}
.item .cont:before{
    content: "\20";
    position: absolute;
    top: 50%; left:-65px;
    margin-top:-8px;
    @include round-radius(16px);
    background:#f8c039 ;
}
.item .cont:after{
    content: "\20";
    position: absolute;
    top:10px; left:-22px;
//    width: 0; height: 0;    
//  border:35px solid transparent;
//  border-right:33px solid #f8c039;
    width:51px; height:51px;
    background:#f8c039;
    transform:rotate(45deg);
    @include border-radius(6px);
    z-index:-1;
}

.item .cont i{font-style: normal;}
.item03 .cont i{color: #3F3F3F;}


.fadeout{
         animation:fadeout 3s both linear;
-webkit-animation:fadeout 3s both linear;
   -moz-animation:fadeout 3s both linear;
    -ms-animation:fadeout 3s both linear;
}
.fadein{
         animation:fadein 3s both linear;
-webkit-animation:fadein 3s both linear;
   -moz-animation:fadein 3s both linear;
    -ms-animation:fadein 3s both linear;
}
.paused{
        animation-play-state: paused;
        -webkit-animation-play-state: paused;
        -moz-animation-play-state: paused;
        -ms-animation-play-state: paused;
}

@-webkit-keyframes fade{
    0%{
        @include opacity(0);
    }
    30%{
        @include opacity(100);
    }
    80%{
        @include opacity(100);
    }
    100%{
        @include opacity(0);
    }
}
@-moz-keyframes fade{
    0%{
        @include opacity(0);
    }
    30%{
        @include opacity(100);
    }
    80%{
        @include opacity(100);
    }
    100%{
        @include opacity(0);
    }
}
@-o-keyframes fade{
    0%{
        @include opacity(0);
    }
    30%{
        @include opacity(100);
    }
    80%{
        @include opacity(100);
    }
    100%{
        @include opacity(0);
    }
}
@keyframes fade{
    0%{
        @include opacity(0);
    }
    30%{
        @include opacity(100);
    }
    80%{
        @include opacity(100);
    }
    100%{
        @include opacity(0);
    }
}

@-webkit-keyframes fadein{
    0%{
        @include opacity(0);
    }
    100%{
        @include opacity(100);
    }
}
@-moz-keyframes fadein{
    0%{
        @include opacity(0);
    }
    100%{
        @include opacity(100);
    }
}
@-o-keyframes fadein{
    0%{
        @include opacity(0);
    }
    100%{
        @include opacity(100);
    }
}
@keyframes fadein{
    0%{
        @include opacity(0);
    }
    100%{
        @include opacity(100);
    }
}

@-webkit-keyframes fadeout{
    0%{
        @include opacity(100);
    }
    100%{
        @include opacity(0);
    }    
}
@-moz-keyframes fadeout{
    0%{
        @include opacity(100);
    }
    100%{
        @include opacity(0);
    }   
}
@-o-keyframes fadeout{
    0%{
        @include opacity(100);
    }
    100%{
        @include opacity(0);
    }    
}
@keyframes fadeout{
    0%{
        @include opacity(100);
    }
    100%{
        @include opacity(0);
    }  
}

@-webkit-keyframes show01{
    0%{
        bottom: -208px;
    }
    100%{
        bottom: 10px;
    }    
}
@-moz-keyframes show01{
    0%{
       bottom: -208px;
    }
    100%{
        bottom: 10px;
    }    
}
@-o-keyframes show01{
    0%{
        bottom: -208px;
    }
    100%{
        bottom: 10px;
    }     
}
@keyframes show01{
    0%{
        bottom: -208px;
    }
    100%{
        bottom: 10px;
    }   
}


@include maxmin-screen(641px,768px){
   .intro p{font-size: 1.8em;}
   .animation{
       height:700px;
       transform:scale(0.8) translateX(-10%) translateY(-10%);
   }   
   .zhubox{transform:scale(0.8) translateY(50%);}
   .item{transform:translateX(15%);}
}

@include maxmin-screen(481px,640px){
   .header{padding-top: 20px;padding-bottom:20px;}
   .intro p{font-size: 1.8em;}
   .animation{
       height: 470px;
       transform:scale(0.6) translateX(-12%) translateY(0%);
   }   
   .zhubox{transform:scale(0.6) translateY(50%);}
   .round04{transform:translateX(-10%);}
   .item{transform:translateX(15%);}
}

@include maxmin-screen(361px,480px){
   .header{padding-top: 20px;padding-bottom:20px;}
   .intro{padding-bottom: 150px;}
   .intro p{font-size: 1.5em;}
   .animation{
       height:392px;
       transform:scale(0.5) translateX(-20%) translateY(-10%);
   }   
   .zhubox{transform:scale(0.5) translateY(30%);}
   .round04{transform:translateX(8%);}
   .item{transform:translateX(20%);}
}

@include maxmin-screen(321px,360px){
   .header{padding-top: 20px;padding-bottom:0px;}
   .intro{padding-bottom: 150px;}
   .intro p{font-size: 1em;}
   .animation{
       height:350px;
       transform:scale(0.4) translateX(-12%) translateY(-10%);
   }  
   .zhubox{transform:scale(0.4) translateY(50%);}
   .item{transform:translateX(12%);} 
}

@include max-screen(320px){
   .header{padding-top: 20px;padding-bottom:0px;}
   .intro{padding-bottom: 150px;}
   .intro p{font-size: 1em;}
   .animation{
       height:280px;
       transform:scale(0.3) translateX(-12%) translateY(-10%);
   }
   .zhubox{transform:scale(0.3) translateY(50%);}
   .item{transform:translateX(15%);}
}