/*reset*/
* { box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }

html { font-size: 16px; }

body { font-size: 16px; line-height: 1.5; font-family: Helvetica, "Microsoft Yahei", Tahoma, "SimSun", "Helvetica Neue"; color: #444; background-color: #f5f5f5; margin: 0 auto; max-width: 640px; min-width: 320px; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }

ul, ol, li, dl, dd, h1, h2, h3, h4, h5, h6, p, figure, form { margin: 0; }

ul, ol, li, dl, dd { padding: 0; list-style: none outside none; }

table { border-collapse: collapse; border-spacing: 0; }

img { max-width: 100%; border: none; vertical-align: middle; }

h1, h2, h3, h4, p { line-height: 1.8; font-weight: normal; }

h1 { font-size: 1.25rem; }

h2 { font-size: 1.125rem; }

h3 { font-size: 0.75rem; }

h4, h5, h6, p { font-size: 0.6875rem; }

i { font-style: normal; }

a { color: #444; text-decoration: none; }

a::-moz-focus-inner { border: 0; padding: 0; }

button, input, select, textarea { font-family: inherit; font-size: 0.75rem; margin: 0; vertical-align: baseline; color: #444; border: none; *vertical-align: middle; }

button::-moz-focus-inner, input::-moz-focus-inner, select::-moz-focus-inner, textarea::-moz-focus-inner { border: 0; padding: 0; }

button:focus, input:focus, select:focus, textarea:focus { outline: none; }

textarea { resize: vertical; vertical-align: top; }

button, input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; *overflow: visible; }

button[disabled], input[disabled] { cursor: default; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *height: 13px; *width: 13px; }

/* float */
.fl { float: left; _display: inline; }

.fr { float: right; _display: inline; }

.clearfix, .wrapper { *zoom: 1; }

.clearfix:before, .wrapper:before { content: "\20"; display: table; }

.clearfix:after, .wrapper:after { content: "\20"; display: table; clear: both; overflow: hidden; }

.clear { clear: both; height: 0; line-height: 0; font-size: 0; visibility: hidden; overflow: hidden; }

.tct { text-align: center; }

.trt { text-align: right; }

.hidden { display: none !important; }
