@charset "utf-8";
$lte7:                  true !default; //是否兼容ie6-7
$baseFontSize:          12px !default;
/*reset*/
body{
    font-size:16px;
    line-height:1.8;
    font-family:'微软雅黑';
    color:#555;
    margin: 0;
    background:#fff url(../img/section05_bg.png);
}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {
    display: block;
}
ul,ol,li,dl,dd,h1,h2,h3,h4,h5,h6,p,figure,form{
    margin:0;
}
ul,ol,li,dl,dd{
    padding:0;
    list-style: none outside none;
}
table{
    border-collapse:collapse;
    border-spacing:0;
}
img {
    max-width: 100%; max-height: 100%;
    border:none;
    vertical-align: middle;
}

h1,h2,h3,h4,h5{
  line-height: 2;
  font-weight: normal;
}
h1 {
  font-size:$baseFontSize * 1.5;
}
h2 {
  font-size:$baseFontSize * 1.3;
}
h3 {
  font-size:$baseFontSize * 1.17;
}
h4 {
  font-size:$baseFontSize;
}
h5,h6,p{
  font-size:$baseFontSize * 0.85;
  text-transform:uppercase;
}
// links
a{
  text-decoration:none;
  color:#666;
}
textarea{
    resize: vertical;
    vertical-align:top;
}
button,input,select,textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    @if $lte7 {
        *vertical-align: middle;
    }
    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    @if $lte7 {
        *overflow: visible;
    }
}
button[disabled],
input[disabled] {
    cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    @if $lte7 {
        *height: 13px;
        *width: 13px;
    }
}

/* float */
.fl{float:left;_display:inline;}
.fr{float:right;_display:inline;}

.clearfix{*zoom:1}
.clearfix:before{content:"\20";display:table;}
.clearfix:after,.header:after{content:"\20";display:table; clear:both;overflow:hidden;}
.clear{clear:both;height:0;line-height:0;font-size:0;visibility:hidden;overflow:hidden}



@mixin wapperCenter($a:1000px){
    width:$a;
    margin-left: auto;
    margin-right: auto;
}

@mixin box-sizing($a:border-box){
        box-sizing: $a;
    -moz-box-sizing: $a;
 -webkit-box-sizing: $a;
}
@mixin border-radius($w:6px){
         border-radius: $w;
    -moz-border-radius: $w;
 -webkit-border-radius: $w;
}

@mixin round-radius($w:100px){
    width: $w; height: $w;
    @include border-radius(50%);
}

@mixin inline-block($w:flase){
    display: inline-block;
    *display: inline;
    *zoom: 1;
    @if $w {
		vertical-align: middle;
    }
}

@mixin opacity($opacity:50) {//透明
        opacity: $opacity / 100;
-webkit-opacity:  $opacity / 100;
   -moz-opacity:  $opacity / 100 ;
        filter: alpha(opacity=$opacity);
}

@mixin max-screen($res){
  @media all and ( max-width: $res )
  {
    @content;
  }
}

@mixin maxmin-screen($min,$max){
  @media all and ( min-width: $min ) and ( max-width: $max )
  {
    @content;
  }
}

@mixin animation-all($a) {//动画
        animation: $a;
-webkit-animation: $a;
 -moz-animation: $a;
  -ms-animation: $a;
}


@mixin animation-argument($arg:delay,$a:1.5s) {//动画
            animation-#{$arg}:$a;
    -webkit-animation-#{$arg}:$a;
       -moz-animation-#{$arg}:$a;
        -ms-animation-#{$arg}:$a;
}

@mixin transform-all($a) {//变形
            transform:$a;
       -webkit-transform:$a;
       -moz-transform:$a;
       -ms-transform:$a;
}


@mixin keyframes ($a){
    @-webkit-keyframes #{$a}{
        @content;
    }
    @-moz-keyframes #{$a}{
        @content;
    }
    @-o-keyframes #{$a}{
        @content;
    }
    @keyframes #{$a}{
        @content;
    }
}


.container{
    @include wapperCenter(1400px);
    position: relative;
}
.section{
    	position: relative;
    	min-width: 1024px;
        background-position: center top;
        background-size:cover ;
        -webkit-background-size:cover;
        .container{
			height: 100%;
		}
		.box{
			position:absolute;
			top:0;
			left: 0;
			padding-top:10%;
			.b-tit{margin-bottom:3rem;}
			.b-con{font-size: 1.5rem; line-height: 2; color: #fff;}
		}
}




.header{
	width: 180px;
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -500px;
	padding: 45px 0;
	text-align: center;
	background: #fff;
	z-index: 10;
}
.banner{
	min-width: 1024px;
	height: 699px;
	background: url(../img/banner.jpg) no-repeat center top;
    background-size: cover;
    -webkit-background-size: cover;
	position: relative;
	z-index: 1;
	.container{
		height: 100%;
	}
	.boxlist{
		width:770px;
		height:268px;
		position:absolute;
		padding: 50px 0 0 70px;
		top: 50%;
		right:0;
		margin-top:-159px;
		&:after{
			content:"\20";
			position: absolute;
			top: 0;
			left:0;
			width: 100%;
			height: 100%;
			background: #000;
			@include opacity(50);
			z-index:-1;
		}
		h3{
			padding-bottom: 10px;
		}
		li{
			font-size: 1rem;
			line-height: 2;
			color: #fffe97;
		}
	}
}

.frombox{
	margin:6rem auto 3rem;
	min-height:510px;
	position: relative;
	border: 1px dashed #FE6B15;
	background: url(../img/ask_tel.jpg) no-repeat left top;
	padding-bottom: 1.5rem;
	.frombox_in{
		padding:0 2% 2rem 50%;
	}
	.frombox_tel{
		padding-top:2rem;
		padding-left: 1rem;
		padding-right: 1rem;
		text-align: center;
	}
	.frombox_ask{
		position: absolute;
		right: 5px;
		top: -40px;
	}
	.tit{
		padding-top:3rem;
		font-size: 1.5rem;
		color: #FE6B15;
		text-align: center;
	}
	.titinfo{
		font-size:0.875rem;
		color: #4c4c4c;
		text-align: center;
	}
	.frombox_ul li{
		float: left;
		width:48%;
		font-size: 1.5rem;
		padding-top:1.125rem;
		padding-right: 2%;
		label{
			width:38%;
		}
	}

	.input_txt{
		width:50%;
		font-size: 1.5rem;
		line-height:2;
		padding:0 2%;
		border: none;
		border-bottom:1px solid #4C4C4C;
		background: #fff;
	}
	.input_btn{
		width:100%;
		font-size: 1.5rem;
		line-height:4rem;
		margin-top:20px;
		text-align: center;
		color: #fff;
		border: 1px solid #FE6B15;
		background: #fe6b15;
	}
    .p01{
        text-align: center;
        font-size: 1.25rem;
        margin-top: 10px;
        color: #fe6b15;
    }
}

.title{
	margin-bottom:30px;
	span{
		font-size: 1.75rem;
		line-height:30px;
		@include inline-block();
		padding:0 30px;
		border-left: 2px solid #ff0000;
		background: #fff;
	}
}

//.section-head{
//  background: #e8e8e8;
//  .title{
//      padding: 2rem 1rem 0;
//      text-align: center;
//  }
//  .boxlist{
//      text-align: center;
//      li{
//          max-width: 30.5%;
//          @include inline-block();
//          vertical-align: bottom;
//          margin:2rem 1%;
//          h3{
//              font-size: 1.5rem;
//              padding-top:2rem;
//          }
//      }
//  }
//}

.section01{
	background: #1a1a1a;
		.boxlist{
			padding:12rem 0px;
			li{
				float: left;
				width:380px;
				padding: 0 20px;
				text-align: center;
				position: relative;
				.border{
					position: absolute;
					top: 15%;
					left: 0;
					width: 1px;
					height:70%;
					border-left: 1px solid #808080;
					z-index: 5;
				}
				&:nth-child(2){
					width: 410px;
				}
				h3{font-size:2.5rem;color: #fff; margin-bottom:1.75rem;}
				h4{font-size: 1.25rem; color: #fff; margin-bottom: 1.75rem;}
				p{
					font-size: 1rem;
					color: #808080;
					min-height:8rem;
				}
			}

		}
}


.section02{
	background-image:url(../img/section02_bg.jpg) ;
	height: 756px;
}

.section03{
	background-image:url(../img/section03_bg.jpg) ;
	height: 792px;
	.box{
		left: auto;
		right: 0;
	}
}
.section04{
	background-image:url(../img/section04_bg.jpg) ;
	height: 864px;
	.box{
		.b-tit{
			margin-bottom: 5rem;
		}
		.b-con{
			line-height:2.5;
		}
	}
}


.section05{
	.boxlist{
		padding:4rem 0;
		text-align: center;
		p{
			max-width: 1260px;
			margin: 0 auto;
			padding:2.5rem 0.75rem;
			font-size: 1.5rem;
			color: #046476;
		}
	}
}


.section06{
	background-image:url(../img/section06_bg.jpg);
	.container{
		width: 1300;
		overflow:hidden;
		min-height: 792px;
		padding-top:62px;
	}
	.poster-main {
		width: 1400px;
		overflow: hidden;
	    height: 652px;
	    position: absolute;
	    left: 50%;
	    bottom:0;
	    margin-left: -700px;
	  	.poster-list{
	  		width: 1400px;
	  		.list-item {
			    position: absolute;
			    left: 0;
			    a{
			    	display: block;
				    width: 100%;
				    height: 100%;
				    border: 0;
			    }
			    img{
					display: block;
				    width: 100%;
				    height: 100%;
				    border: 0;
			    }
	 		}
	 	}
	 	.poster-btn{
	 		display: none;
	 		position: absolute;
	 		width: 50%;
	 		height: 100%;
	 		top: 0;
	 		left:0px;
	 		cursor: pointer;
	 		&.poster-next-btn{
	 			left:auto;
	 			right: 0;
	 		}
	 	}
	}
}

.section07{
	background-image:url(../img/section05_bg.png);
	.boxlist{
//		.boxlist_hd{
//			padding: 70px 0;
//			text-align: center;
//			li{
//				@include inline-block();
//				border: 1px solid #ccc;
//				@include border-radius(3px);
//				font-size: 1.5rem;
//				line-height: 2;
//				text-align: center;
//				padding:5px 45px;
//				margin:0px 10px;
//				cursor: pointer;
//				color: #4c4c4c;
//				&.active{
//					border-color: #47adff;
//				}
//			}
//		}
		.boxlist_con{
			padding:6rem 0 4rem;
			li{
				float: left;
				width:31%;
				height:500px;
				border-left: 1px solid #ccc;
				padding:0 0.5% 0 1.5%;
				position: relative;
				&:first-child{
					border-left: none;
					padding-left: 0;
				}
				h3{
					font-size: 2rem;
					line-height:38px;
					margin-bottom: 25px;
					color: #f60;
					span{
						color: #4c4c4c;
					}
				}
				p{
					font-size: 1.125rem;
					line-height:2.6;
					color: #4c4c4c;
				}
				.bottom{
					position: absolute;
					bottom: 0;
					width:90%;
					.piceold{
						font-size: 1.125rem;
						line-height: 1.2;
						color:#4C4C4C;
						span{
							text-decoration:line-through;
						}
					}
					.pice{
						font-size: 2.25rem;
						line-height:1.2;
						margin-bottom: 1rem;
						color: #f60;
						span{
							font-size: 0.8em;
						}
					}
					.btn{
						position: relative;
						@include inline-block();
						width: 70%;
						@include border-radius(3px);
						font-size: 1.5rem;
						line-height: 2;
						text-align: center;
						color: #fff;
						background: #47ADFF;
						&:after{
							content: '\20';
							position: absolute;
							top: 50%;
							right: -4rem;
							margin-top: -1rem;
							width:3rem;
							height: 2.1rem;
							background: url(../img/icon_love.jpg) no-repeat center center;
							background-size: cover;
							-webkit-background-size: cover;
						}
					}
				}
			}
		}
	}
}


.section08{
	background-image:url(../img/section08_bg.jpg);
	height:572px;
	.tit{
		padding-top:4rem;
		text-align: center;
	}

}

.animation01{
	-webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
    transition: opacity 0.8s, transform 0.8s;
    opacity: 0;
    filter: alpha(opacity=0)\9;
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
}

.jsshow .animation01{
    opacity: 1;
    filter: alpha(opacity=100)\9;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}


.section09{
    .title{text-align: center; padding: 2rem 0;}
	.boxlist{
	    text-align: center;
	    max-width:1600px ;
	    li{
		    @include inline-block();
            position: relative;
            overflow: hidden;
            width:100px;
			height: 620px;
			box-shadow: 0px 0px 10px #333;
			img{
			    max-width: 1000%;
			    max-height: 1000%;
			    width:600px;
			    height: 610px;
			    padding: 5px;
			    background: #fff;
			    box-shadow: 0px 0px 10px #333;
			}
		}
	}
}

//公共底部
.footer{
    .container{
    	max-width: 1200px;
        padding:3rem 0;
        text-align:center;
    }
    .footlf{
    	max-width:20%;
        display: inline-block;
        vertical-align: middle;
    }
    .footer_img{
    	max-width:25%;
        display: inline-block;
        vertical-align: middle;
    }
    .footer_img01{
    	max-width:25%;
    	padding-right:3%;
        display: inline-block;
        vertical-align: middle;
    }
    .footer_p{
    	max-width:40%;
    	text-align:left;
        padding-left: 10px;
        display: inline-block;
        vertical-align: middle;
        font-size:1rem;
        color: #4c4c4c;
        p{
        	font-size: 1rem;
            margin:1.875rem 0;
        }
    }
    .footer_copy{
        margin-top:3rem;
        text-align: center;
        font-size:1rem;
        color: #4c4c4c;
    }
}

//公共侧边样式
.act_nav{background:url(images/bottom.png) no-repeat top center; height: 65px; position: fixed; left: 0; bottom: 0; z-index: 500; width: 100%;}
.act_nav .event_content{height: 65px;width:985px; margin:0 auto; text-align:left; position:relative; }
.act_nav .event_content a,.act_nav .event_content p{ margin-top:11px; ;display: block;height: 54px; float: left; text-indent: -9999px; outline: none; }
.event_content span{
	float:right;
	width:20px;
	height:20px;
	margin-top:18px;
	margin-right:-7px;
}
#qqkf1,#qqkf2,#qqkf3{
	display:block;
	height:15px;
	width:95px;
	background:#fff;
	padding-top:10px;
	text-align:center;

}
#qqkf1 span,#qqkf2 span,#qqkf3 span{
	float:left;
	width:60px;
	height:15px;
	line-height:15px;
	font-size:12px;
	color:#333;
}
#qqkf1 img,#qqkf2 img,#qqkf3 img{
	float:left;
	width:18px;
	height:18px;
	margin-left:10px;
}
#qqkf{
	height:76px;
	padding:0px 0px 10px 10px;
	width:95px;
	margin-top:88px;
	left:-108px;
	background:#fff;
        border:1px solid #ccc;
}
.fixed-layer i,.copyright-conts,.copyright-idea,.n-k-more a,.banner-tab-btn i,.menu-btn,.list-zs li{ background:url(http://www.hnpeichang.cn/templets/default/images/fixed-layer-ico.png) no-repeat}

.fixed-layer{}
.fixed-layer_ps{overflow:visible;position:fixed;width:88px;z-index:100; top:20%; right: 5px;
}
.fixed-layer_resize{overflow:visible;position:fixed;width:88px;margin-left:520px;right:0;/*top:300px;*/top:200px;_position:absolute;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-460));z-index:100;
	}
.fixed-layer li{border-top:1px solid #fff;text-align:center;font-family:"Microsoft Yahei";font-size:14px;}
.fixed-layer li a{display:block;width:88px;height:76px;background:#cacaca;color:#fff;padding-top:10px; cursor:pointer}
.fixed-layer li a:hover{background:#e60; color:#fff;text-decoration:none;}
.fixed-layer i{display:block;width:45px;height:40px;margin:0 auto; cursor:pointer}
.fixed-layer .weixin1 i{background-position:0 0;}
.fixed-layer .qq i{background-position:-45px 0;}
.fixed-layer .online i{background-position:-90px 0;}
.fixed-layer .tel-ask i{background-position:-135px 0;}
.fixed-layer .to-top i{background-position:-180px 0;height:18px;}
.fixed-layer .to-top a{height:48px;padding-top:0;}
.fixed-layer .tel-ask,.fixed-layer .weixin{position:relative; /*vertical-align:middle;*/_float:left;}
.fixed-layer li.tel-ask a:hover,.fixed-layer li.weixin a:hover{background:#999}
.fixed-layer .tel-ask-tips{position:absolute;left:-140px;top:0;text-align:left;width:115px;height:56px;background:#e60;color:#fff;padding:20px 10px 10px 10px;display:none;}
.fixed-layer .tel-ask-tips span{font-size:16px;font-family:'Microsoft Yahei',Arial;}
.fixed-layer .weixin-tips{position:absolute;left:-167px;top:0;text-align:left;width:135px;height:135px;background:#fff;padding:10px;border:1px solid #ccc;display:none;}

.fixed-layer .tel-ask-tips em,.fixed-layer .weixin-tips em{width: 0;height: 0;font-size: 0;line-height: 0;position: absolute;right:-10px;top:38px;border-width:5px;border-style: dashed dashed dashed solid;}

.fixed-layer .tel-ask-tips em{border-color: transparent transparent transparent #eb4b31;}
.fixed-layer .weixin-tips em{border-color: transparent transparent transparent #ccc;right:-11px;_right:-12px;}
.close{width:15px;height:15px; font-family:"微软雅黑", "宋体"; font-size:12px; color:#fff; background:#CCC; float:right; margin-top:-16px; line-height:15px; text-align:center; cursor:pointer;}

@include max-screen(1401px){
	.banner{
		min-width:1024px;
	}
	.container{
		width: 1200px;
	}
	.section{
		min-width: 1024px;
		.box{
			left:5%;
		}
	}

	.section01{
		.boxlist{
			li{
				width: 31%;
				padding: 0 1%;
				&:nth-child(2){
					width: 31%;
				}
			}
		}
	}

	.section03{
		min-width: 1024px;
		.box{
			left: auto;
			right:5%;
		}
	}

}

@include max-screen(1024px){
	.header{
		width:100px;
		padding:1.5rem 1rem;
		margin-left: -450px;
	}
	.banner{
		min-width:960px;
		height:600px;
		.boxlist{
			width: 50%;
			height: 50%;
			top: 25%;
			margin:0 20px 0 0;
		}
	}
	.container{
		width: 1024px;
	}
	.section{
		min-width: 960px;
		.box{
			max-width:50%;
			.b-con{
				font-size: 1.125rem;
			}
		}
	}

	.section01{
		.boxlist{
			li{
				width: 31%;
				padding: 0 1%;
				&:nth-child(2){
					width: 31%;
				}
			}
		}
	}
	.section02{
		height:600px;
	}
	.section03{
		height:600px;
	}
	.section04{
		height:600px;
	}
	.section07{
		.boxlist{
			.boxlist_con {
				padding: 6rem 1rem 4rem;
				li{
					height:500px;
					h3{
						font-size:1.5rem;
					}
					p{
						font-size: 1rem;
						line-height:2.6;
					}
					.bottom{
						.piceold{
							font-size: 1rem;
						}
						.pice{
							font-size: 2rem;
						}
						.btn{
							font-size: 1.125rem;
							line-height: 2;
							&:after{
								right: -4rem;
								margin-top: -1rem;
								width:3rem;
								height: 2.1rem;
							}
						}
					}
				}

			}
		}
	}


		.frombox{
			margin:6rem auto 3rem;
			min-height:auto;
			background-size:auto 95%;
			-webkit-background-size:auto 95%;
			.tit{
				font-size: 1.5rem;
				padding-top: 3rem;
			}
			.titinfo{
				font-size:0.75rem;
			}
			.frombox_ul li{
				font-size: 1.125rem;
			}

			.input_txt{
				font-size: 1.125rem;
			}
			.input_btn{
				font-size: 1.125rem;
				line-height:2.5rem;
			}
		}

	//公共底部
	.footer{
	    .footlf{
	        max-width:15%;
	    }
	    .footer_img{
			 max-width:15%;
	    }
	    .footer_img01{
			 max-width:22%;
	    }
	    .footer_p{
	    	max-width:35%;
	    	 text-align:left;
	    	p{
	    		 margin:0;
	    	}
	    }
	    .footer_copy{
	        margin-top:2rem;
	        font-size: 0.875rem;
	    }

	}




}

@include max-screen(768px){
	body{
		font-size: 14px;
	}
	.header{
		width:100px;
		left:5%;
		margin-left:auto;
	}
	.banner{
		min-width:auto;
		height:400px;
		.boxlist{
			padding:3rem 2rem 0;
		}
	}
	.container{
		width: 100%;
		overflow: hidden;
	}
	.section{
		min-width: auto;
		.box{
			max-width:50%;
			padding-top:15%;
			.b-tit{
				margin-bottom: 2rem;
			}
			.b-con{
				font-size: 1.125rem;
			}
		}
	}

	.section01{
		.boxlist{
			padding: 5rem 0;
			li{
				h3{
					font-size: 1.5rem;
					margin-bottom: 1rem;
				}
				h4{
					font-size:1.125rem;
					margin-bottom: 1rem;
				}
			}
		}
	}
	.section02{
		height:450px;
	}
	.section03{
		height:450px;
	}
	.section04{
		height:450px;
		.box{
			.b-con{
				line-height: 2;
			}
		}
	}
	.section05{
		.boxlist{
			p{
				font-size: 1.125rem;
			}
		}
	}
	.section08{
		height:450px;
		.tit {
			width: 80%;

			margin: 0 auto;
		}
	}
	.section06{
		.container{
			width: 100%;
			min-height:450px;
			padding-top:1rem;
		}
		.poster-main {
//			width: 700px;
			width: 100%;
			overflow: hidden;
		    height:252px;
		    position: absolute;
		    left:0%;
		    bottom:0;
		    margin-left:0;
		  	.poster-list{
		  		width:700px;
		  		.list-item {
				    position: absolute;
				    left: 0;
				    a{
				    	display: block;
					    width: 100%;
					    height: 100%;
					    border: 0;
				    }
				    img{
						display: block;
					    width: 100%;
					    height: 100%;
					    border: 0;
				    }
		 		}
		 	}
		 	.poster-btn{
		 		position: absolute;
		 		width: 50%;
		 		height: 100%;
		 		top: 0;
		 		left:0px;
		 		cursor: pointer;
		 		&.poster-next-btn{
		 			left:auto;
		 			right: 0;
		 		}
		 	}
		}
	}
	.section07{
		.boxlist{
			.boxlist_con {
				padding: 6rem 1rem 4rem;
				li{
					height:500px;
					h3{
						font-size:1.125rem;
					}
					p{
						font-size:0.875rem;
						line-height:2;
					}
					.bottom{
						.piceold{
							font-size: 1rem;
						}
						.pice{
							font-size: 2rem;
						}
						.btn{
							font-size: 1.125rem;
							line-height: 2;
							&:after{
								right: -4rem;
								margin-top: -1rem;
								width:3rem;
								height: 2.1rem;
							}
						}
					}
				}

			}
		}
	}


		.frombox{
			margin:3rem auto;
			background-size:auto 75%;
			-webkit-background-size:auto 75%;

			.tit{
				font-size: 1rem;
				padding-top:2rem;
			}
			.titinfo{
				font-size:0.75rem;
			}
			.frombox_ul li{
				font-size: 1rem;
			}
			.frombox_tel{
				padding-top:1rem
			}

			.input_txt{
				font-size: 1rem;
			}
			.input_btn{
				font-size: 1rem;
				line-height:2;
			}
		}
	//公共底部
	.footer{
	    .footlf{
	        max-width:15%;
	    }
	   .footer_img{
			 max-width:15%;
	    }
	    .footer_p{
	    	 max-width:40%;
	    	 p{
	    	 	font-size: 0.75rem;
	    	 	margin: 0;
	    	 }
	    }
	    .footer_copy{
	        margin-top:2rem;
	        font-size: 0.875rem;
	    }

	}

}


@include max-screen(420px){
	body{
		font-size: 12px;
	}
	.header{
		width:60px;
		padding:0.75rem;
	}
	.banner{
		height:260px;
		.boxlist{
			top: 10%;
			padding:2rem 2rem;
			width:400px;
			height:150px;
			@include transform-all(scale(0.6) translate(40%,0));
			li{
				font-size: 0.75rem;
				//@include transform-all(scale(0.6));
			}
		}
	}
	.section{
		.box{
			max-width:60%;
			padding-top:15%;
			.b-tit{
				margin-bottom: 2rem;
				max-width:90%;
			}
			.b-con{
				font-size:0.75rem;
			}
		}
	}

	.section01{
		.boxlist{
			width: 680px;
			padding: 0 3rem;
			@include transform-all(scale(0.5) translate(-50%,0));
			li{
				h3{
					font-size:2.125rem;
					margin-bottom: 1rem;
				}
				h4{
					font-size:1.25rem;
					margin-bottom: 1rem;
				}
				p{
					height: 10rem;
					font-size:1.125rem;
				}
			}
		}
	}
	.section02{
		height:260px;
	}
	.section03{
		height:260px;
		.box{
			right: 0;
		}
	}
	.section04{
		height:260px;
		.box{
			.b-con{
				line-height: 2;
			}
		}
	}
	.section05{
		.boxlist{
			padding: 2rem 0;
			p{
				padding: 1rem;
				font-size:0.875rem;
			}
		}
	}
	.section06{
		.container {
			min-height:280px;
		}
	}
	.section08{
		height:250px;
		.tit {
			width: 80%;
			margin: 0 auto;
			padding-top: 2rem;
		}
	}
	.section07{
		.boxlist{
			.boxlist_con {
				padding:1rem 0;
				li{
					float:none;
					width:auto;
					height:auto;
					display:block;
					padding:1rem;
					border-left:none;
					border-bottom:1px solid #ddd;
					&:first-child{
						padding-left:1rem;
					}
					&:last-child{
						border-bottom:none
					}
					h3{
						font-size:1.25rem;
						margin-bottom:0.5rem;
					}
					p{
						font-size:0.875rem;
						line-height:2;
					}
					.bottom{
						position:relative;
						width:100%;
						padding-top:1rem;
						.piceold{
							font-size: 0.875rem;
							line-height:2;
						}
						.pice{
							font-size:1.125rem;
							margin-bottom: 0.5rem;
						}
						.btn{
							font-size:0.875rem;
							line-height: 2;
							&:after{
								right: -2.5rem;
								margin-top:-0.75rem;
								width:2rem;
								height:1.5rem;
							}
						}
					}
				}

			}
		}
	}


		.frombox{
			margin:3rem auto;
			background-size:auto 35%;
			-webkit-background-size:auto 35%;

			.frombox_in{
				padding:8rem 2% 0rem;
			}
			.frombox_ask{
				position: absolute;
				right: 5px;
				top: -30px;
				width:50%;
				font-size: 0.75rem;
				text-align: right;
				img{
					max-width:30%;
				}
			}

			.tit{
				font-size:0.875rem;
				padding-top:2rem;
			}
			.titinfo{
				font-size:0.875rem;
			}
			.frombox_ul li{
				font-size:0.875rem;
			}

			.input_txt{
				font-size:0.875rem;
			}
			.input_btn{
				font-size:0.875rem;
				line-height:2;
			}
		}
	//公共底部
	.footer{
		.container {
			text-align: center;
		}
	    .footlf{
	        max-width:30%;
	    }
	    .footer_img{
			 max-width:25%;
	    }
	   .footer_img01{
			max-width:30%;
	    }
	    .footer_p{
	    	 max-width:90%;
	    	 padding-top:0.75rem;
	    	 p{
	    	 	font-size: 0.75rem;
	    	 }
	    }
	    .footer_copy{
	        margin-top:1rem;
	        font-size: 0.875rem;
	    }

	}

}


@include max-screen(320px){
	.section{
		.box{
			padding-top:10%;
			.b-tit{
				margin-bottom:0.5rem;
				max-width:100%;
			}
		}
	}
	.section01{
		.boxlist{
			width:560px;
			padding: 0 3rem;
			@include transform-all(scale(0.5) translate(-52%,0));
			li{
				p{
					height: 11rem;
				}
			}
		}
	}

	.section02{
		height:200px;
	}
	.section03{
		height:200px;
	}
	.section04{
		height:200px;
	}
	.section05{
		.boxlist{
			p{
				font-size: 0.75rem;
			}
		}
	}

	.section07{
		.boxlist{
			.boxlist_con {
				li{
					h3{
						font-size:1rem;
					}
					p{
						font-size:0.75rem;
					}

				}

			}
		}
	}
	.frombox{

		.titinfo{
			font-size:0.75rem;
		}
		.frombox_ul li{
			font-size:0.75rem;
		}

		.input_txt{
			font-size:0.75rem;
		}
		.input_btn{
			font-size:0.75rem;
		}
	}



}