@charset "utf-8";
// 参考scss code
// 提供所有的基础功能包括：变量设置，css3前缀填充，@media，基础mixin，栅格化grid，reset样式
// 默认会输出reset样式一份
// 开关设置
//----------------------------------------------------- 
$lte7:                  true !default; //是否兼容ie6-7
$filter:                false !default; //是否为ie6-8开启css3滤镜兼容，常用于渐变背景 
$printStyleSwitch:      false !default; //是否开启打印样式
// font相关
//----------------------------------------------------- 
$baseFontSize:          12px !default;
$baseLineHeight:        1.5 !default;
$baseFontFamily:        "Helvetica Neue", Helvetica, Tahoma, sans-serif !default;
$fontCn:                "SimSun"; //宋体
$fontYaHei:             "Microsoft Yahei"; //微软雅黑
$fontHeiTi:             "SimHei"; //黑体
// 基本颜色
// color function : http://sass-lang.com/docs/yardoc/Sass/Script/Functions.html
// lighten($color, $amount)
// darken($color, $amount)
// opacify($color, $amount)
// mix($color1, $color2[, $amount])
//----------------------------------------------------- 
$c-black:                 #000 !default;
$c-grayDarker:            #333 !default;
$c-grayDark:              #999 !default;
$c-gray:                  #ccc !default;
$c-grayLight:             #f5f5f5 !default;
$c-white:                 #fff !default;

$c-red:                   #cc3300 !default;
$c-blue:                  #00A3CF !default;
$c-blueDark:              #0064cd !default;
$c-orange:                #F47837 !default;
$c-green:                 #51B148 !default;
$c-yellow:                #ffc40d !default;
$c-pink:                  #c3325f !default;
$c-purple:                #7a43b6 !default;

$c-primary:               #0078E7 !default;//主色
// link
//----------------------------------------------------- 
// 如果只有一个值则滑过的值为这个值的darken 5%，如果
// 有两个值则第二个值为滑过的值
$linkColor:             #08c !default;

// scaffolding
//----------------------------------------------------- 
$bodyBgColor:           $c-white !default;
$textColor:             $c-grayDarker !default;
// placeholder
//----------------------------------------------------- 
// 变量分别为：是否输出表单的占位符placeholder样式，文本色
$placeholder:           true $c-gray !default;

/*reset*/
body{ 
    font-size: $baseFontSize;
    line-height: $baseLineHeight; 
    font-family: $fontYaHei;   
    color:$textColor;
    background-color:$bodyBgColor;
    margin: 0;
}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {
    display: block;
}
ul,ol,li,dl,dd,h1,h2,h3,h4,h5,h6,p,figure,form{ 
    margin:0;
}
ul,ol,li,dl,dd{
    padding:0; 
    list-style: none outside none;
}
table{
    border-collapse:collapse; 
    border-spacing:0;
}
img {
    max-width: 100%;
    border:none;
    vertical-align: middle;
}

h1,h2,h3{
  line-height: 2;
  font-weight: normal;
}
h1 {
  font-size:$baseFontSize * 1.5;
}
h2 {
  font-size:$baseFontSize * 1.3;
}
h3 {
  font-size:$baseFontSize * 1.17;
}
h4 { 
  font-size:$baseFontSize;
}
h5,h6,p{
  font-size:$baseFontSize * 0.85;
  text-transform:uppercase;
}
// links 
a{
  text-decoration:none;
  @if length($linkColor) > 1{
      color:nth($linkColor,1);
      &:hover{
        color:nth($linkColor,2);
      }
  } @else {
    color:$linkColor;
    &:hover{
      color:darken($linkColor,10%);
    }
  }
}
textarea{
    resize: vertical; 
    vertical-align:top;
} 
button,input,select,textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    vertical-align: baseline; 
    @if $lte7 {
        *vertical-align: middle;
    }
    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    @if $lte7 {
        *overflow: visible;
    }
}
button[disabled],
input[disabled] {
    cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    @if $lte7 {
        *height: 13px;
        *width: 13px;
    }
}
img{max-width: 100%; max-height: 100%;}
/* float */
.fl{float:left;_display:inline;}
.fr{float:right;_display:inline;}

.clearfix{*zoom:1}
.clearfix:before{content:"\20";display:table;}
.clearfix:after,.header:after{content:"\20";display:table; clear:both;overflow:hidden;}
.clear{clear:both;height:0;line-height:0;font-size:0;visibility:hidden;overflow:hidden}



@mixin boxcenter($a:1000px){
    width:$a;
    margin-left: auto;
    margin-right: auto;
}

@mixin box-sizing($a:border-box){
        box-sizing: $a; 
    -moz-box-sizing: $a;
 -webkit-box-sizing: $a;            
}
@mixin border-radius($w:6px){
         border-radius: $w;  
    -moz-border-radius: $w;
 -webkit-border-radius: $w;
}

@mixin round-radius($w:100px){
    width: $w; height: $w;
    @include border-radius(50%);
}

@mixin opacity($opacity:50) {//透明        
        opacity: $opacity / 100;
-webkit-opacity:  $opacity / 100;
   -moz-opacity:  $opacity / 100 ;        
        filter: alpha(opacity=$opacity);
}

@mixin max-screen($res){
  @media all and ( max-width: $res )
  {
    @content;
  }
}

@mixin maxmin-screen($min,$max){
  @media all and ( min-width: $min ) and ( max-width: $max )
  {
    @content;
  }
}

@mixin animation-all($a) {//动画
        animation: $a;
-webkit-animation: $a;
 -moz-animation: $a;
  -ms-animation: $a;
}


@mixin animation-argument($arg:delay,$a:1.5s) {//动画
            animation-#{$arg}:$a;
    -webkit-animation-#{$arg}:$a;
       -moz-animation-#{$arg}:$a;
        -ms-animation-#{$arg}:$a;
}

@mixin transform-all($a) {//变形    
            transform:$a;
       -webkit-transform:$a;
       -moz-transform:$a;
       -ms-transform:$a;
}


@mixin keyframes ($a){
    @-webkit-keyframes #{$a}{
        @content;
    }
    @-moz-keyframes #{$a}{
        @content;
    }
    @-o-keyframes #{$a}{
        @content;
    }
    @keyframes #{$a}{
        @content;
    }
}




body{background: url(/resources/images/active/zhuli/zhu_bg01.jpg) repeat;}
.wrapper{
    @include boxcenter(100%);
    max-width: 960px;
    @include box-sizing;
    
}

.container{
  width:100%;
  min-height:100%;  
  background: url(/resources/images/active/zhuli/zhu_bg02.png) no-repeat center bottom;
  background-size: 100% auto;
  -webkit-background-size: 100% auto;  
}

.header{display: block; padding: 38px 8.3% 48px;}
.header .logo{width:30%}

.intro{padding: 0  8.3%; padding-bottom:400px;}
.intro p{font-size:3em; line-height:1.5; color: #fff; padding-top:0.5em;}

.zhubox{width: 289px; height: 208px; position: fixed; bottom:10px; left: 50%; margin-left: -144px; text-align: center;background: #3f3f3f url(/resources/images/active/zhuli/zhu_box01.png) no-repeat center center;
       @include animation-all(show01 1s 2s both linear);
}
.zhubox p{font-size: 2em; color: #fff; padding:25px 0 30px;}
.zhubox .btn-zhu{display:inline-block; font-size: 1.8em; height: 2em; line-height: 2em; text-align: center; border-radius: 6px; color: #fff; background: #9f0f0f; position: relative;}
.zhubox .btn-zhu span{position:relative; display:block; bottom: 5px; padding: 0 10px; background: #de3232;border-radius: 6px; }

.animation{padding: 0  8.3%; height:785px;position: relative;}

.round{  
    position: absolute; 
    text-align: center;
    font-size: 3em;
    line-height:1.6;
    color: #3f3f3f;
    @include animation-all(fade 3s both linear);
}

.round:after{ 
    display: inline-block; 
    content: "\20"; 
    width:0px; height: 100%; 
    vertical-align: middle;
}
.round .cont{
    display: inline-block;    
    vertical-align: middle;
}

.round .cont i{
    font-style: normal;
    font-size: 2.5em;
}
.round03 .cont i{font-size: 3em;}


.round01{
    top:50%; right:50%;
    margin: -300px -48px 0 0;
    @include round-radius(320px);    
    background: #f8c039;
   @include animation-argument(delay,1.5s); 
}
.round01 .cont:before{
    content: "\20";
    position: absolute; top: 50%; left: 50%;
    margin-left: -187px; margin-top: -187px;
    @include round-radius(374px); 
    background: #f8c039;  
    @include opacity(15);  
}
.round01 .cont:after{
    content: "\20";
    position: absolute; top: 50%; left: 50%;
    margin-left: -220px; margin-top: -220px;
    @include round-radius(440px); 
    background: #f8c039;  
    @include opacity(10);  
}

.round02{
    top:50%; right:50%;
    margin:-170px -492px 0 0;
    @include round-radius(492px);    
    background:url(/resources/images/active/zhuli/zhu_01.png) no-repeat center center;
    background-size: 100% 100%;
    color: #fff;
    @include animation-argument(delay,3s); 
}

.round03{
    top:50%; right:50%;
    margin:-170px -126px 0 0;
    @include round-radius(440px);    
    background:#f8c039;
    box-shadow:0px 0px 80px #f8c039;
    @include animation-argument(delay,5s); 
}

.round04{
    top:50%; right:50%;
    width:700px; height:620px;
    margin: -310px -350px 0 0;
    @include animation-argument(duration,8s);              
    @include animation-argument(delay,8s);          
}

.round04 .inner:after{  display: inline-block;  content: "\20";   width:0px; height: 100%;  vertical-align: middle;}
.round04 .inner .cont{  width: 99%;    display: inline-block;    vertical-align: middle;   line-height: 1.2;}
.round04 .inner .cont i{   font-size: 1em;}
.round04 .inner i.d-dabai{   font-size:5.2em;}
.round04 .inner i.d-allbiao{   font-size:2.5em;}

.round04 .r01{position:absolute; top: 0px; left:98px; @include round-radius(172px); background: #adf04c;}
.round04 .r02{position:absolute; top: 70px; left:50%; margin-left: -36px; @include  round-radius(132px); background: #fff668;}
.round04 .r03{position:absolute; top: 25px; left:50%; margin-left: 130px; @include round-radius(110px); background: #ff7bf7;}
.round04 .r04{position:absolute; top: 204px; left:0; @include round-radius(220px); background: #ff7d6d;}
.round04 .r05{position:absolute; top: 160px; left:50%; margin-left: 178px; @include round-radius(210px); background: #92e6ff;}
.round04 .r06{position:absolute; bottom: 0px; left:50%; margin-left:-162px; @include round-radius(390px); background: #ff7827; color: #fff;}

.item{  
    position: absolute;  
    @include animation-all(fade 3s both linear);
}
.item01{top: 50%; left: 50%; margin-left: -60px; margin-top:-305px;
        @include animation-argument(delay,16s); 
}
.item02{top: 50%; left: 50%; margin-left: -400px; margin-top:-175px;
       @include animation-argument(delay,19s); 
}
.item03{top: 50%; left: 50%; margin-left: -230px; margin-top:-170px;
     @include animation-argument(delay,22s); 
}
.item04{ top: 50%; right: 50%; margin-right: -355px; margin-top:-300px;
        @include animation-argument(delay,25s); 
}
.item05{top: 50%; left: 50%; margin-left: -170px; margin-top:-190px;
        @include animation-argument(delay,28s); 
}


.item .cont{
    position: relative;
    display: inline-block;
    font-size: 3em;
    line-height:70px;
    height: 70px;
    padding-right: 30px;
    color: #fff;
    white-space: nowrap;
    background: #f8c039;
    @include border-radius(6px);
    margin-bottom: 30px;
}
.item .cont:before{
    content: "\20";
    position: absolute;
    top: 50%; left:-65px;
    margin-top:-8px;
    @include round-radius(16px);
    background:#f8c039 ;
}
.item .cont:after{
    content: "\20";
    position: absolute;
    top:10px; left:-22px;
//    width: 0; height: 0;    
//  border:35px solid transparent;
//  border-right:33px solid #f8c039;
    width:51px; height:51px;
    background:#f8c039;
    @include transform-all(rotate(45deg));
    @include border-radius(6px);
    z-index:-1;
}

.item .cont i{font-style: normal;}
.item03 .cont i{color: #3F3F3F;}


.fadeout{
    @include animation-all(fadeout 3s both linear);
}
.fadein{
    @include animation-all(fadein 3s both linear);
}
.paused{
    @include animation-argument(play-state,paused);
}

.phonebox{display:none; position: fixed; top: 40%; width: 94%; left: 3%; max-width:420;  padding: 10px 5%; @include box-sizing(); background: #3F3F3F; border: 1px solid #666;}
.duanxtsk{display: none; color: #fff; font-size: 1em; margin-bottom: 20px;}
.phonecon{margin: 0 0 20px;}
#phone{border-radius: 0px;width:60%; height: 35px;margin: 0;padding:0 0 0 10px;top: 0;border: 1px solid #ccc;}
input.dxdjs{width:30%; height:35px;border-radius: 0px;background: #59abff;margin: 0;padding: 0; border: none; color: #fff}
input[disabled="disabled"].dxdjs{ background: #ccc;}
#verify_code{width: 95%;border-radius: 0px;height:35px;margin: 0;padding: 0;padding:0 0 0 10px;top: 0;border: 1px solid #ccc;}
a.anniu{width: 95%;height: 35px;background: #E14538;display: inline-block;text-align: center;font-weight: bold; color: #ffea97;
font-size: 18px;line-height: 35px;margin-top: 20px;}
.phonebox .close{color: #fff; text-align: center; width: 20px; height: 20px; position: absolute; right: 0; top: 0;}

#sharecover{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 20000;
    text-align: right;
}

#mcover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 20000;
}
#mcover img {
    position: fixed;
    top:100px;left:0;right:0;margin:auto;
    width: 240px;
    height: 300px;
    z-index: 999;
}

.codelist{
    padding: 0  3%; padding-bottom:50px;
    color: #fff; line-height: 2;
}
.codelist h3{
    padding: 10px 0;
    font-size: 1.2em;
}

.codelist .cont li{display: inline-block; width: 49%; font-size:12px; vertical-align: text-top; }
.codelist .cont li:nth-child(2n){text-align: right;}
.codelist .cont li span{color:#f08200;}
@include keyframes(fade){
    0%{
        @include opacity(0);
    }
    30%{
        @include opacity(100);
    }
    80%{
        @include opacity(100);
    }
    100%{
        @include opacity(0);
    }
}
@include keyframes(fadein){
    0%{
        @include opacity(0);
    }
    100%{
        @include opacity(100);
    }
}
@include keyframes(fadeout){
    0%{
        @include opacity(100);
    }
    100%{
        @include opacity(0);
    }    
}
@include keyframes(show01){
   0%{
        bottom: -208px;
    }
    100%{
        bottom: 10px;
    }      
}


@include maxmin-screen(641px,768px){
   .intro p{font-size: 1.8em;}
   .animation{
       height:700px;
       @include transform-all(scale(0.8) translateX(-10%) translateY(-10%));
   }       
   .zhubox{
       @include transform-all(scale(0.8));
   }
   .item{
       @include transform-all(translateX(15%));
   }
}

@include maxmin-screen(481px,640px){
   .header{padding-top: 20px;padding-bottom:20px;}
   .intro p{font-size: 1.8em;}
   .animation{
       height: 470px;
       @include transform-all(scale(0.6) translateX(-12%) translateY(0%));
   }   
   .zhubox{
       @include transform-all(scale(0.6) translateY(50%));
   }
   .round04{
        @include transform-all(translateX(-10%));
   }
   .item{
        @include transform-all(translateX(15%));
   }
}

@include maxmin-screen(361px,480px){
   .header{padding-top: 20px;padding-bottom:20px;}
   .intro{padding-bottom: 250px;}
   .intro p{font-size: 1.5em;}
   .animation{
       height:392px;
       @include transform-all(scale(0.4) translateX(-20%) translateY(-10%));
   }   
   .zhubox{
       @include transform-all(scale(0.6));
   }
   .round04{
       @include transform-all(translateX(8%));
   }
   .item{
       @include transform-all(translateX(15%));
   }
}

@include max-screen(360px){   
   .header{padding-top:10px;padding-bottom:0px;}
   .intro{padding-bottom: 200px;}
   .intro p{font-size: 1em;}
   .animation{
       height:280px;
       @include transform-all(scale(0.3) translateX(-12%) translateY(-10%));
   }
   .zhubox{
       @include transform-all(scale(0.5) translateY(15%));
   }
   .item{
       @include transform-all(translateX(15%));
   }
   .codelist{padding: 0 8%;}
   .codelist .cont li{width: 95%; }
   .codelist .cont li:nth-child(2n){text-align: left;}
}


