/*reset*/
body {
  font-size: 14px;
  line-height: 1.5;
  font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  color: #333;
  background-color: #fff;
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

ul, ol, li, dl, dd, h1, h2, h3, h4, h5, h6, p, figure, form {
  margin: 0; }

ul, ol, li, dl, dd {
  padding: 0;
  list-style: none outside none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%;
  border: none;
  vertical-align: middle; }

h1, h2, h3 {
  line-height: 2;
  font-weight: normal; }

h1 {
  font-size: 21px; }

h2 {
  font-size: 18.2px; }

h3 {
  font-size: 16.38px; }

h4 {
  font-size: 14px; }

h5, h6 {
  font-size: 11.9px;
  text-transform: uppercase; }

a {
  text-decoration: none;
  color: #08c; }
  a:hover {
    color: #006699; }

textarea {
  resize: vertical;
  vertical-align: top; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }
  button::-moz-focus-inner, input::-moz-focus-inner, select::-moz-focus-inner, textarea::-moz-focus-inner {
    border: 0;
    padding: 0; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px; }

/* float */
.fl {
  float: left;
  _display: inline; }

.fr {
  float: right;
  _display: inline; }

.clearfix {
  *zoom: 1; }

.clearfix:before {
  content: "\20";
  display: table; }

.clearfix:after, .header:after {
  content: "\20";
  display: table;
  clear: both;
  overflow: hidden; }

.clear {
  clear: both;
  height: 0;
  line-height: 0;
  font-size: 0;
  visibility: hidden;
  overflow: hidden; }
